.weaponName {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

/* top | right | bottom | left */
.weaponTile {
  max-width: 400px;
  max-height: 200px;
  overflow: hidden;
  flex: 1 1 300px;
  padding: 5px 15px 5px 15px;
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
  margin: 5px;
  border-radius: 4px;
}

.stats {
  color: white;
  font-size: 12px;
}

.perks {
  padding-top: 8px;
  color: white;
  font-size: 10px;
}
