.weaponName {
  color: white;
  font-size: 20px;
  padding-bottom: 3px;
}

/* top | right | bottom | left */
.weaponTile {
  max-width: 400px;
  overflow: hidden;
  flex: 1 1 400px;
  padding: 5px 15px 5px 15px;
  background-position-x: right;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  border-radius: 4px;
}

.stats {
  color: white;
  font-size: 12px;
}

.perks {
  margin-top: 8px;
  color: white;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.perkCategory {
  width: 50px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.perkIcon {
  background-color: black;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 3px;
}

.perkImage {
  height: 40px;
  width: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.transferButtons {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.location {
  color: white;
  font-size: 10px;
  padding-bottom: 10px;
}
